# Automatização de E-mail


passo 1: entrar no sistema (no meu caso o link)

passo 2: Navegar no sistema e encontrar a base de dados (entrar na pasta exportar)

passo 3: Download da base de dados 

passo 4: calcular os indicadores (faturamento, quantidade de produtos)

passo 5: entrar no email

passo 6: mandar um email para a diretoria com os indicadores

In [1]:
# importando as bibliotecas

import pandas as pd
#import pyautogui
#import time
#import openpyxl

In [4]:
tabela = pd.read_excel('teste.xlsx')

display(tabela)

     modelo     cor   placa  chassi      marca
0      xc60   preto   64564  768678      volvo
1  chevette    azul  323234    5664  chevrolet
2     kombi  branca  321312  543253         vw